player-connection-mode=Listen
player-connection-guid=186270910
player-connection-debug=0
player-connection-project-name=ANT TOWER DEFENSE
player-connection-ip=192.168.1.22
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ecfc2cc1a3bf45499bdf321b4c86aa02
